<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="RegionId" value="cn-hangzhou"/>
      <add key="AccessKeyId" value="your accessKeyId"/>
      <add key="AccessKeySecret" value="your accessKeySecret"/>
      <add key="DomainName" value="your domainName"/>
      <add key="DomainType" value="A"/>
    </appSettings>
</configuration>
